@using Microsoft.Graph

@if (!string.IsNullOrWhiteSpace(ThumbnailUrl))
{
    <div role="img" style="background-image: url('@ThumbnailUrl');" class="album-thumbnail ratio ratio-1x1 @CssClass" @attributes="AdditionalAttributes"></div>
}
else
{
    <div class="album-thumbnail ratio ratio-1x1 @CssClass" @attributes="AdditionalAttributes">
        <span class="oi oi-musical-note fs-6" aria-hidden="true"></span>
    </div>
}

@code {
    [Parameter]
    public string? ThumbnailUrl { get; set; }

    [Parameter]
    public string? CssClass { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
