@using Microsoft.Graph

@if (!string.IsNullOrWhiteSpace(url))
{
    <img src="@url" class="ratio ratio-1x1 @CssClass" @attributes="AdditionalAttributes">
}
else
{
    <span class="ratio ratio-1x1 @CssClass" @attributes="AdditionalAttributes">
        <span class="oi oi-musical-note fs-6" aria-hidden="true"></span>
    </span>
}

@code {
    [Parameter, EditorRequired]
    public DriveItem Item { get; set; }

    [Parameter]
    public string? CssClass { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }

    private string? url => Item?.Thumbnails?.CurrentPage?.Count > 0 ? Item.Thumbnails.CurrentPage[0].Large?.Url : null;

    /*private static string? GetImageUrl(DriveItem item)
    {
        if (item?.Thumbnails?.CurrentPage is not null && Item.Thumbnails.CurrentPage.Count > 0)
    }*/
}
