<div class="songs-container" id="songs_container">
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-8 g-4 mb-5">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
