@using Microsoft.Graph

<div class="col">
    <NavLink href="@Href" @onclick="OnClick" class="@CssClasses">
        <AlbumThumbnail ThumbnailUrl="@ThumbnailUrl" CssClass="card-img-top song-list-item-thumbnail" />
        <div class="card-body position-absolute bottom-0 start-0">
            @if (!string.IsNullOrWhiteSpace(Title))
            {
                <h5 class="card-title">@Title</h5>
            }
            @if (!string.IsNullOrWhiteSpace(Text))
            {
                <p class="card-text">
                    @Text
                </p>
            }
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    public string? ThumbnailUrl { get; set; }

    [Parameter]
    public bool? IsFolder { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public Action? ClickHandler { get; set; }

    private const string CSS_CLASSES = "card tebg-light text-dark position-relative";

    private string? CssClasses => IsFolder is true ? $"is-folder {CSS_CLASSES}" : CSS_CLASSES;

    private async Task OnClick ()
    {
        if (ClickHandler is not null)
        {
            await InvokeAsync(ClickHandler);
        }
    }
}
